// unsplash__wrap
.unsplash__wrap {
    overflow: hidden;
    .unsplash__inner {
        height: 500px;
        .unsplash__text {
            > h3 {
                font-size: 50px;
                font-weight: 400;
                line-height: 1;
                margin-bottom: 40px;
                }
               > p {
                font-size: 24px;
                font-weight: 300;
                line-height: 1.5;
                margin-bottom: 25px;
               }
               > a {
                border-radius: 50px;
               }
        }
       .unsplash__item {
            padding-top: 70px;
            display: flex;
            position: absolute;
            > div {
                width: 400px;
                margin-right: 27px;
                > a {
                    > img {
                        border-radius: 10px;
                        width: 100%;
                        height: 226px;
                    }
                }
            }
       }
    }
}
// Unsplash__Page
.unsplash__cont {
    ul {
        column-count: 4;
        li {
            margin-bottom: 20px;
        }
    }
}
.unsplash__search {
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
    input {
        border: 1px solid #E8ECF2;
        font-size: 16px;
        padding: 10px 20px;
        border-radius: 50px;
        min-width: 300px;
        margin-right: 10px;
    }
    button {
        display: inline-block;
        padding: 10px 50px;
        background-color: #990DF7;
        color: #fff;
        border: 0;
        text-decoration: none;
        cursor: pointer;
        transition: background-color 0.3s;
        &:hover {
            background-color: darken(#990DF7, 10%);
        }
    }
}
.unsplash__tag {
    ul {
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
        margin-top: 50px;
        li {
            a {
                border:1px solid #4857EC;
                padding: 10px 20px;
                margin: 0 10px;
                color: #4857EC;
                &:hover {
                    color: #fff;
                    background-color: #4857EC;
                }
            }
        }
    }
}
.unsplash__slider {
    width: 100%;
    a {
        img {
            height: 350px;
            width: 100%;
            object-fit: cover;
        }
    }
}